
@media (max-width:1500px){
    .dateBox {
        display: none !important;
    }
    .weather{ font-size: 15px;}
    .clock{
        font-size: 60px;
    }
    .container{
       width: 80%;
        flex-direction: column;
        padding-left: 0;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    #main1{
        width: 100%;
        flex: 0.3;
    }
    
    #main2{
        width: 70%;
    }
    .to-dos{
        margin-top: 30px;
    }
    #to-do-list,
    #to-do-list::placeholder{
        font-size: 20px;
    }
    #to-do-list{
        padding: 15px;
    }
    .to-dos > ul >li{
        font-size: 22px;
    }
    .to-dos > ul > li> button{
        width: 15px;
        height: 15px;
        font-size: 15px;
        top: 7px;
    }
    
}

@media (max-width:940px){
    #main2{
        padding: 0 30px;
        width: 100%;
    }
    #name-form, .name-parent >h3{
        font-size: 30px;
     }
     #user-name{
        margin-top: 20px;
        font-size: 25px;
        display: block;
     }
     .name-parent >h3{
        margin-top: 20px;
     }
     .to-dos{
        width: 95%;
        position: absolute;
       top: 250px;
     }
}


@media (max-height:1030px){
    
    .dateBox{
        height: 310px;
        bottom: 0;
    }
    #calendar{
        width:250px !important;
        height:300px !important;
    }
   
    #calendar > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td > div > div,
    #calendar > div.fc-view-harness.fc-view-harness-active > div > table > thead > tr > th > div > div {
    overflow: hidden scroll !important;
    }
}


@media (max-height:655px){
    .dateBox {
        display: none !important;
    }
 }

 @media (max-height:350px){
    .weather{
        font-size: 12px;
    }
    .clock {     
        font-size: 30px;
    }
    #name-form, .name-parent >h3{
        font-size: 30px;
     }
     #user-name{
        margin-top: 20px;
        font-size: 20px;
        display: block;
     }
     #to-do-list,
    #to-do-list::placeholder{
        font-size: 20px;
    }
    #to-do-list{
        padding: 15px;
    }
    .to-dos > ul >li{
        font-size: 22px;
    }
    .to-dos > ul > li> button{
        width: 15px;
        height: 15px;
        font-size: 15px;
        top: 7px;
    }
 } 